@font-face {
  font-family: Madani-Arabic;
  src: url("../font/MadaniArabicMedium.ttf") format("truetype");
}

/* @font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("Gilroy-Regular.woff2") format("woff2"),
    url("Gilroy-Regular.woff") format("woff"),
    url("Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Madani Arabic", sans-serif;
}

.html,
body {
  width: 100%;
  height: 100%;
  font-family: "Madani Arabic", sans-serif;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  width: 100%;
  height: 100%;
}

.main-wrapper .kavya-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 100% 90%, 50% 100%, 0 90%);
}

.header-section {
  display: flex;
  width: 100%;
  height: 90px;
  background: transparent;
  position: fixed;
  top: 0;
  transition: all 0.5s;
}

.course-section {
  display: flex;
  flex-direction: row;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;
  font-size: 0;
  line-height: 0;
  margin: 4px;
  float: left;
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.header-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 17rem;
  gap: 70px;
}

.navColor {
  background-color: rgb(65, 57, 57);
  display: flex;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  transition: all 0.5s;
}

/* .navItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 17rem;
  gap: 70px;
} */

/* .navTransparent {
  background: transparent !important;
} */

.header-item li {
  line-height: 1;
  list-style: none;
  letter-spacing: 1.6px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.header-item li a {
  text-decoration: none;
  color: white;
}

.header-item li i {
  margin-left: 5px;
  margin-bottom: 4px;
  cursor: pointer;
}

.header-item img {
  height: 4.2rem;
  margin-top: -22px;
}

.apply-btn {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 255);
  height: 2.5rem;
  width: 9rem;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
  margin-top: -5px;
  position: absolute;
  right: 0;
}

.apply-btn:hover {
  background-color: #f1e4e4;
}

.hero-text {
  position: absolute;
  bottom: 14rem;
  left: 44rem;
  color: white;
  font-size: 50px;
  font-weight: 750;
}

.second-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 99vw;
  height: 87vh;
}

.left-wrapper {
  padding-bottom: 11rem;
  width: 50vw;
  background-color: #ffffff;
  padding-left: 15rem;
}

.left-para {
  font-family: "Gilroy-Regular";
  src: url("../Gilroy-Regular/Gilroy-Regular.woff") format("woff");
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.right-wrapper {
  width: 50vw;
}

.right-wrapper input {
  height: 3.5rem;
  width: 16rem;
  background-color: #e6e6e6;
  border: none;
  margin: 1rem 0rem;
  padding: 0px 8px;
}

.name-input {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.right-wrapper button {
  background-color: #faaf42;
  height: 3rem;
  width: 15rem;
  margin: 1rem 0;
  border: none;
  cursor: pointer;
}

.mail-phone-input {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.mail-phone-input p {
  font-size: 12px;
}

.mail-phone-input .phone-input {
  display: flex;
  flex-direction: column;
}

.mail-phone-input .phone-input .form-checkbox {
  width: 20px;
  height: 15px;
}

.mail-phone-input .phone-input p {
  font-size: 12px;
  padding-left: 5px;
}

.checkbox-p {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  margin-top: -15px;
}

.course-btn-input {
  display: flex;
  flex-direction: column;
}

.course-btn-input .course-input {
  width: 34.5rem;
}

.why-kavya {
  width: 99vw;
  height: 100vh;
  background-color: #12202e;
  color: rgb(255, 255, 255);
}

/* .why-kavya img {
  height: 87vh;
  width: 99vw;
  position: fixed;
} */

.why-kavya-heading {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why-kavya-heading p {
  letter-spacing: 1px;
}

.smart-study-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.card1,
.card2,
.card3 {
  padding: 30px 0px;
  width: 26rem;
  /* background-color: rgb(168, 103, 103); */
  background-color: transparent;
  margin: 2rem;
}

.cards-para {
  letter-spacing: 1px;
}

.bachelor-cap,
.group-head,
.paper-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.card1-heading {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.card2-heading {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.card3-heading {
  margin-top: 2.2rem;
  margin-bottom: 0.5rem;
}

.bachelor-cap,
.group-head,
.paper-area p {
  padding: 15px 20px;
  line-height: 30px;
}

.card1 .card1-img {
  margin: 20px 0px;
  height: 120px;
  width: 120px;
  position: relative;
}

.card2 .card2-img {
  margin: 18px 0px;
  height: 110px;
  position: relative;

  width: 120px;
}

.card3 .card3-img {
  margin: 20px 0px;
  height: 120px;

  position: relative;
  width: 120px;
}

.card-1-content,
.card-2-content,
.card-3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.explore-section h1 {
  padding-top: 60px;
}

.explore-section p {
  padding-top: 15px;
  color: #faaf42;
  cursor: pointer;
}

.slideshow-section {
  height: 88vh;
  width: 99vw;
  /* background-image: url(./photos/kavya-roof.png); */
  background-size: cover;
}
.slideshow {
  width: 99vw;
}

.image-gallery-image {
  height: 45rem;
}

.top-courses-section {
  height: 80vh;
  width: 99vw;
  margin-top: 5rem;
}

.top-courses-heading {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-courses-heading h1 {
  font-weight: 900;
}

.top-courses-section p {
  letter-spacing: 1px;
}

.view-all-section {
  display: flex;
  gap: 1rem;
}

.view-all-btn {
  color: #faaf42;
  cursor: pointer;
}

.top-courses-container {
  display: flex;
  gap: 7rem;
  justify-content: center;
  align-items: center;
}

.top-courses-container1 {
  background-color: #d9d9d9;
  width: 28rem;
  padding: 10rem 0;
}

.discover-program-section {
  height: 100vh;
  width: 99vw;
}

.discover-program-heading {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discover-program-heading h1 {
  font-weight: 900;
}

.discover-program-section p {
  letter-spacing: 0.5px;
}

.program-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  margin-top: 2rem;
}

.program-card1,
.program-card2,
.program-card3 {
  padding: 120px 0px;
  width: 24rem;
  background: linear-gradient(#1d2f44, #000000);
  margin: 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 100% 80%, 50% 100%, 0 80%);
}

.hexagon-container {
  width: 100px;
  height: 75.735px;
  background: rgb(255, 255, 255);
  position: relative;
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexagon-container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 20px solid rgb(255, 255, 255);
}
.hexagon-container::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 20px solid rgb(255, 255, 255);
}

.program-top1,
.program-top2,
.program-top3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: -3rem;
}

.program-para {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 25px;
}

.program-heading {
  color: #faaf42;
  font-weight: 500;
}

.program-lines {
  color: white;
}

.image-gallery-thumbnails-wrapper {
  position: absolute;
  bottom: 200px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-gallery-bullets {
  display: none;
}

.image-gallery-icon {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 20px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  height: 100px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}

.image-gallery-thumbnail {
  width: 200px !important;
}

.image-gallery-thumbnail-label {
  top: 82% !important;
}

.image-gallery-image {
  object-fit: cover;
  object-position: top;
}

.black-bachelor-cap {
  height: 80px;
}
.black-book {
  height: 45px;
}

.slanted {
  height: 80vh;
  width: 99vw;
}

.slanted-photo {
  width: 100%;
  height: 90%;
  display: block;
  position: relative;
  bottom: -65px;
  object-fit: cover;
  object-position: center;
  transform: skewY(-6deg);
}

.gallery-section {
  height: 100vh;
  width: 99vw;
}

.gallery-heading {
  height: 30%;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-slideshow {
  width: 100%;
  padding: 50px 50px;
  background-color: black;
}

/* .slideshow-container {
  width: 80%;
  padding: 100px 100px;
  background-color: white;
} */

.slideshow-container1,
.slideshow-container2,
.slideshow-container3,
.slideshow-container4 {
  padding: 100px 50px;
  width: 5rem;
  background-color: #e6e6e6;
}

.slider-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.seperator {
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px violet;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 70%;
  background-color: #00008b;
  color: #fff;
  margin: 0 15px;
  font-size: 4em;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-image {
  height: 26rem;
  width: 40rem;
}

.bottom-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 99vw;

  background: linear-gradient(#152535, #060b11);
  padding: 150px 0;
}

.left-half-form-section {
  width: 50vw;
  padding: 0rem 10rem;
}

.bottom-form input {
  height: 3.5rem;
  width: 16rem;
  background-color: #e6e6e6;
  border: none;
  margin: 1rem 0rem;
  padding: 0px 8px;
}

.bottom-form button {
  background-color: #faaf42;
  height: 3rem;
  width: 15rem;
  margin: 1rem 0;
  border: none;
  cursor: pointer;
}

.right-half-form-section {
  width: 50vw;
}

.blog-carousel {
  height: 50vh;
  background-color: #060b11;
}

.blog-item {
  display: flex;
  flex-direction: row;
  /* gap: 10rem; */
}

.blog-right-section {
  height: 30vh;
  width: 40vh;
  background-color: rgb(122, 97, 97);
}
